.section {
  padding: 1.5rem;
  .button, .button:hover {
    @include centralize;
    @include neon-border-circle($blue, $black);
    color: $silver;
    font-family: $space-mono;
    .icon {
      @include centralize;
    }
  }
}

.sl3k {
  // .sl3k-button
  &-button {
    height: 8rem;
    margin: 0 auto;
    width: 8rem;
    // .sl3k-button-small
    &-small {
      height: 4rem;
      width: 4rem;
    }
  }
  // .sl3k-loading
  &-loading {
    @include centralize;
    @include neon-color($purple);
    .icon {
      @include loading;
    }
  }
  // .sl3k-location
  &-location {
    margin-left: auto;
  }
  // .sl3k-logo
  &-logo {
    @include centralize;
    @include neon-border-circle($blue, $black);
    @include neon-flicker-box($blue, alternate);
    height: 4rem;
    margin: 0 auto;
    width: 4rem;
    img {
      height: 3rem;
      width: 3rem;
    }
    // .sl3k-logo-border
    &-border {
      @include centralize-text;
      @include neon-border-bottom($blue);
      @include neon-flicker-text(transparent, alternate);
      color: transparent;
      height: 2rem;
      width: 17.625rem;
    }
    // .sl3k-logo-shader
    &-shader {
      @include centralize-text;
      background-color: $black;
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
    }
    // .sl3k-logo-text
    &-text {
      @include centralize-text;
      @include neon-flicker-text($purple, alternate);
      color: $purple;
      height: 2rem;
      width: 16.125rem;
    }
  }
  // .sl3k-menu
  &-menu {
    @include neon-border-bottom($blue);
    word-wrap: break-word;
    div:nth-child(2) {
      @include neon-color($purple);
      margin-left: auto;
      max-width: 4.625rem;
    }
    // .sl3k-menu-header
    &-header {
      @include neon-border-bottom($blue);
      div:first-child {
        @include neon-color($purple);
      }
    }
  }
  // .sl3k-service
  &-service {
    @include neon-border-bottom($blue);
    padding: 1rem .75rem;
    div {
      @include centralize;
      @include neon-color($gold);
      &:first-child {
        @include move('right');
      }
      &:last-child {
        @include move('left');
      }
      &:nth-child(2) {
        a {
          @include centralize;
          @include neon-flicker-sign($purple, $blue, alternate-reverse);
          background-color: rgba($blue, .1);
          border: .25rem dotted $blue;
          border-radius: .5rem;
          color: $purple;
          height: 4rem;
          transform: rotate(5deg);
          width: 8rem;
        }
      }
    }
  }
  // .sl3k-warning
  &-warning {
    @include neon-border-bottom($blue);
    div {
      &:first-child, &:last-child {
        @include centralize;
        @include neon-color($gold);
      }
    }
  }
  // .sl3k-website
  &-website {
    margin: 0 auto;
  }
}